* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: linear-gradient(119deg, darkblue 50%, #0e1d28 50%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log {
  width: 35%;
  height: 90%;
  position: relative;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.271);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#L {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-group {
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  align-items: center;
}

.firstname,
.secondname,
.email,
.password,
.confirmpassword {
  width: 100%;
  height: 30px;
  border-radius: 7px;
  padding: 5px;
  outline: none;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 8px;
}
.submit {
  width: 100%;
  height: 30px;
  background-color: greenyellow;
  border-radius: 7px;
  cursor: pointer;
}
label {
  color: white;
}
.New {
  color: white;
  text-align: center;
}
